{% extends 'music/base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="{% url 'music:detail' album.id %}">
                    <img src="{{ album.album_logo.url }}" class="img-responsive">
                </a>
                <div class="caption">
                    <h1>{{ album.album_title }}</h1>
                    <h3>{{ album.artist }}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="#">View All</a></li>
                <li role="presentation" class="active"><a href="{% url 'music:song-add' album.id %}">Add New Song</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Songs</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Song Title</th>
                            <th>Album Title </th>
                            <th>Favorites</th>
                            <th>Audio File</th>
                            <th>Song Delete</th>
                        </tr>
                        </thead>
                        <tbody>

                         {% for song in album.song_set.all %}
                            <tr>
                                <td>{{ song.song_title }}</td>
                                <td>{{ album.album_title }}</td>


                                <td>
                                    <a href="{% url 'music:favorite_song' album.id song.id %}" class="btn-favorite"/>
                                    {% if song.is_favorite %}
                                        <span class="glyphicon glyphicon-star"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    {% endif %}
                                    </a>
                                </td>

                                <td>
                                    {% if song.audio_file %}
                                        <a href="{{ song.audio_file.url }}">
                                            <button type="button" class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                            </button>
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <form action="{% url 'music:delete_song' album.id song.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ song.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
     </div>
</div>

{% endblock %}





